<h2>Add your favorite recipe</h2>

<form action="/recipes" method="post">
  <div class="form-group">
      <label class="form-label" for='name'>Recipe Name:</label>
      <input class="form-control" id='name' name='name' type='text'>
      </br>
      <label class="form-label" for='ingredients'>List ingredients:</label>
      <input class="form-control" id='ingredients' name='ingredients' type='text'>
      </br>
      <label class="form-label" for='instructions'>Add instructions:</label>
      <input class="form-control" id='instructions' name='instructions' type='text'>
      </br>
      <button type="submit" class="button btn-success">Add Recipe</button>
    </div>
</form>
