<h2>Here are your recipes!</h2>

<% if @recipes.any?() %>
  <p>Click on a Recipe's title to view more details:</p>

  <ul>
    <% @recipes.each do |recipe| %>
    <li><a href="/recipe_list/<%= recipe.id() %>"><%= recipe.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no recipes, add a recipe!</h3>
<% end %>

<p><a href="/">Return to Home Page</a></p>
